.footer {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 10px;

    color: #59636E;
    font-size: 12px;
    font-weight: 400;
}

.moamoa {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-right: 12px;
}

.moamoaIcon {
    width: 20px;
    height: 13px;
}

.copy {
    font-size: 12px;
}

.link {
    color: #59636E;
    display: inline-flex;
    text-decoration: none;
    transition: .2s;
}

.link:hover {
    text-decoration: underline;
}
