.list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  overflow: hidden;
  padding-top: 48px;
}

.paginationWrap {
  padding-left: 40px;
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.empty {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6d6d6d;
  font-size: 16px;
}
