spring:
  data:
    redis:
      repositories:
        enabled: false

redis:
  host: ${REDIS_HOST}
  port: ${REDIS_PORT}
  timeout: 3s
  database: ${REDIS_DATABASE}
  username: ${REDIS_USERNAME:default}
  password: ${REDIS_PASSWORD:}
