.list {
    display: flex;
    flex-direction: column;
    gap: 52px;
    border-left: 1px solid #e5e7eb;
    padding-left: 40px;
}

.paginationWrap {
    padding-left: 40px;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}