.list {
    display: flex;
    flex-direction: column;
    gap: 52px;
    overflow: hidden;
}

.paginationWrap {
    padding-left: 40px;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}