.wrap {
    /*padding-bottom: 52px;*/
    top: calc(60px);
    background-color: #ffffff;
    z-index: 10000;
    position: sticky;
}

.tab {
    display: flex;
    align-items: center;
    gap: 26px;

    border-bottom: 1px solid #e5e7eb;
    padding: 6px 0 0 0;

    justify-content: space-between;
}

.tabItem {
    appearance: none;
    background: transparent;
    border: 0;
    padding: 0 14px 12px 14px;

    font-size: 16px;
    font-weight: 400;
    color: #6b7280;
    cursor: pointer;

    position: relative;
    transition: .2s;
}

.tabItem:hover {
    color: #252525;
    font-weight: 600;
}

.active {
    color: #252525;
    font-weight: 600;
}

.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px; /* ✅ 밑줄이 border-bottom 위에 딱 붙게 */
    height: 2px;
    background: #252525;
    border-radius: 2px;
}

.tabItem:focus,
.tabItem:focus-visible {
    outline: none;
}

.subscriptions {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    color: #6b7280;
    box-sizing: border-box;
    display: flex;
    align-items: baseline;
    gap: 4px;
    /*margin: 0;*/
    /*height: 20px;*/
    /*font-size: 14px;*/
}

.subscriptions > p {
    font-size: 14px;
    margin: 0;
}

/* 기존 스타일 그대로 두고 추가 */
.skeleton {
    height: 32px;
    width: 80px;
    border-radius: 16px;
    background: linear-gradient(
            90deg,
            #eee 25%,
            #f5f5f5 37%,
            #eee 63%
    );
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}