.wrap {
}

.empty {
    padding: 6px 10px;
    color: #888;
    font-size: 14px;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 4px;
    border-radius: 8px;
    transition: .2s ease;
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: 500;
}

.active {
    background-color: #f3f4f6;
}

.header:hover {
    background-color: #f3f4f6;
}

.title {
    font-size: 16px;
    font-weight: 600;
    color: #252525;
}

.list {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 6px 10px;
    border-radius: 8px;

    border: none;
    background: transparent;
    cursor: pointer;
    text-align: left;
    transition: .2s ease;
}

.activeItem {
    background: #f3f4f6;
}

.item:hover {
    background-color: #f3f4f6;
}

/*.item:hover .name {*/
/*    color: #90AB8B;*/
/*}*/

/*.item:hover .avatar {*/
/*    transform: scale(1.10);*/
/*}*/

.avatarWrap {
    width: 26px;
    height: 26px;
    border-radius: 999px;
    overflow: hidden;
}

.avatar {
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
    transition: 0.2s ease;
}

.name {
    flex: 1;
    min-width: 0;
    font-size: 14px;
    font-weight: 400;
    color: #111827;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: 0.2s ease;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 999px;
    background: #2563eb; /* 유튜브 느낌의 파란 점 */
    flex-shrink: 0;
}

.dotOff {
    width: 6px;
    height: 6px;
    border-radius: 999px;
    background: transparent;
    flex-shrink: 0;
}

.more {
    width: 100%;
    margin-top: 6px;

    display: flex;
    align-items: center;
    gap: 6px;

    padding: 7px 10px;
    line-height: 1;
    border-radius: 8px;
    border: none;
    background: transparent;
    cursor: pointer;

    color: #252525;
    font-size: 13px;
    font-weight: 600;

    transition: .2s ease;
}

.more span {
    position: relative;
    top: 1px;
}

.more:hover {
    background-color: #f3f4f6;
}

.chev {
    display: inline-block;
    transform: translateY(1px);
    transition: transform 0.15s ease;
    margin-right: 7px;
}

.up {
    transform: rotate(180deg) translateY(-1px);
}

.item:focus,
.item:focus-visible,
.more:focus,
.more:focus-visible {
    outline: none;
}