.header {
    width: 1000px;

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    z-index: 50000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #fff;
    padding: 16px 0 12px 0;

    margin-bottom: 0;
}

.left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logoButton {
    display: inline-flex;
    align-items: center;
    gap: 7px;

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.logoButton:focus,
.logoButton:focus-visible {
    outline: none;
}

.logoImage {
    height: 30px;
    width: auto;
    display: block;
}

.textButton {
    appearance: none;
    -webkit-appearance: none;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    height: 33px;
    padding: 0 6px;

    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #787878;
}

.textButton:hover {
    background-color: #f3f4f6;
    transition: .3s;
}

.textButton:focus-visible {
    outline: none;
    text-decoration: underline;
}