.overlay {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 9999;
}