.overlay {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000000;
}

.spinner {
    width: 250px;
}