.wrap {
    max-width: 480px;
    margin: 0 auto;
    padding-top: 28px;

    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 28px;
}

.titleWrap {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 12px;
}

.title {
    font-size: 28px;
    font-weight: 600;
    color: #252525;
}

.description {
    font-size: 16px;
    color: #858585;
    font-weight: 400;
    line-height: 1.3;
}

.form {
    display: flex;
    flex-direction: column;
}

.inputWrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.label {
    font-size: 16px;
    font-weight: 400;
    color: #252525;
}

.error {
    font-size: 14px;
    color: #ef4444;
    line-height: 1.4;
    padding-left: 2px;
}

.agreement {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #858585;
    gap: 6px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.agreement > input {
    margin: 0;
    width: 14px;
    height: 14px;
}