.wrap {
    margin: 0 auto;
    max-width: 480px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 28px;
    font-weight: 600;
}

.stats {
    display: flex;
    gap: 16px;
}

.stat {
    flex: 1;
    border-radius: 10px;
    box-sizing: border-box;
    background: #f3f4f6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.statTitle {
    display: flex;
    justify-content: space-between;
}

.statLabel {
    color: #A8A8A8;
    font-weight: 400;
    font-size: 14px;
}

.statIcon {

}

.statValue {
    color: #252525;
    font-size: 24px;
    font-weight: 500;
    transition: .2s ease;
}

.statValue:hover {
    text-decoration: underline;
}

.section {
    /*border: 1px solid #ededed;*/
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 12px;
    box-sizing: border-box;
    background: #f3f4f6;
}

.sectionTitle {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    color: #A8A8A8;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.button {
    outline: none;
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.divider {
    width: 100%;
    height: 1px;
    background: #E0E0E0;
}

.buttonText {
    color: #252525;
    font-size: 14px;
}

.logoutButton {
    text-decoration: underline;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: #787878;
    cursor: pointer;
    background: none;
    padding: 0;
    width: 80px;
    margin: 0 auto;
}
