.wrap {
    margin: 0 auto;
    max-width: 580px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section {
    border: 1px solid #ededed;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 12px;
    box-sizing: border-box;
}

.sectionTitle {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    color: #A8A8A8;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.button {
    outline: none;
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.divider {
    width: 100%;
    height: 1px;
    background: #ededed;
}

.buttonText {
    color: #252525;
    font-size: 14px;
}

.logoutButton {
    text-decoration: underline;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: #787878;
    cursor: pointer;
    background: none;
    padding: 0;
    width: 80px;
    margin: 0 auto;
}
