.wrap {
    position: relative;
    width: 100%;
    height: 240px;
    background: #ffffff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
    z-index: 1;
    margin: auto;
    width: 500px;
    padding: 24px 40px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 10px;
}

.main {
    font-size: 36px;
    font-weight: 700;
    color: #252525;
    margin: 0;
    letter-spacing: 0.05em;
}

.sub {
    font-size: 18px;
    font-weight: 400;
    color: #252525;
    margin: 0;
    letter-spacing: 0.09em;
}

.backgroud {
    position: absolute;
    inset: 0; /* top:0 right:0 bottom:0 left:0 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    z-index: 0;
}

.bgRow {
    width: 110%;
    display: flex;
    gap:28px;
    /*transform: translateX(-1%);*/
}

.bgKeyword {
    font-size: 30px;
    font-weight: 700;
    color: #F2F7FF;
    margin: 0;
}

.sub::after {
    content: "|";
    margin-left: 2px;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}