.wrap {
    max-width: 706px;
    margin: 0 auto;
    padding-top: 28px;

    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}

.titleWrap {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 24px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    color: #252525;
}

.description {
    font-size: 14px;
    color: #252525;
    font-weight: 400;
    line-height: 1.5;
    background: #F8F9FB;
    border-radius: 6px;
    padding: 20px;
}

.descriptionTitle {
    font-weight: 700;
    margin-bottom: 8px;
    color: #252525;
}

.divider {
    width: 100%;
    height: 1px;
    background: #F0F0F0;
}

.accountInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.accountTitle {
    font-size: 14px;
    margin: 0 0 4px 0;
}

.account {
    font-weight: 400;
    background: #F8F9FB;
    padding: 20px;
    border-radius: 6px;
    font-size: 14px;
}

.accountBold {
    font-weight: 600;
}

.accountSkeleton {
    background: linear-gradient(90deg, #eee 25%, #f5f5f5 37%, #eee 63%);
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
    border-radius: 6px;
    height: 19px;
    width: 90%;
}

@keyframes shimmer {
    0% { background-position: 100% 0; }
    100% { background-position: 0 0; }
}

.agreement {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #252525;
    gap: 12px;
    margin-bottom: 8px;
    flex-direction: column;
}

.checkWrap {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 20px;
}

.checkWrap > input {
    margin: 0;
    width: 14px;
    height: 14px;
}

.buttonWrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}