.wrap {
    height: 60px;
    background: #ffffff;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 32px;
    box-sizing: border-box;
    box-shadow: 1px 2px 12px rgba(1, 1, 1, 0.008);
}

.iconWrap {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease;
}

.iconWrap:hover {
    background: #f3f4f6;
}