.wrap {
    width: 220px;
    height: 100vh;
    background: #FFFFFF;
    box-shadow: 2px 2px 12px rgba(1, 1, 1, 0.007);
    padding: 32px 16px;
    box-sizing: border-box;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.logoWrap {
    height: 32px;
}

.logo {
    width: 180px;
    padding: 0 4px;
}

.menus {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.menu {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    font-weight: 400;
    color: #808080;
    border-radius: 6px;
    padding: 0 10px;
    box-sizing: border-box;
    transition: .2s ease;
}

.active {
    background: #f3f4f6;
    color: #000000;
    font-weight: 500;
}

.menu:hover {
    background: #f3f4f6;
}

.menuIcon {
    width: 20px;
    height: 20px;
}