.base {
    font: inherit;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid transparent;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
}

.primary {
    height: 40px;
    background: #0E4BBC;
    border-color: #0E4BBC;
    color: #fff;
}

.primary:hover {
    opacity: 0.80;
    transition: .3s;
}

.border {
    height: 40px;
    background: #fff;
    border-color: #0E4BBC;
    color: #0E4BBC;
}

.border:hover {
    background: #F5F8FF;
    transition: .3s;
}

.link {
    background: none;
    border: none;
    padding: 0;
    width: auto;
    height: auto;
    color: #898989;
    text-decoration: underline;
    font-weight: 500;
}

.widthFull {
    width: 100%;
}

.widthAutoPad16 {
    padding-left: 16px;
    padding-right: 16px;
}

.base:disabled {
    background: #DBDBDB;
    color: #868686;
    border: 1px solid #DBDBDB;
    cursor: not-allowed;
}
