.wrap {
    position: relative;
    width: 100%;
}

.input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    background: transparent;
    min-width: 0;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    padding: 0 40px 0 12px; /* 오른쪽 아이콘 공간 */
    color: #252525;

    transition: border-color 120ms ease, box-shadow 120ms ease;
}

/* ✅ focus 시 */
.input:focus {
    border-color: #252525;
}

.error {
    border-color: #ef4444;
    color: #ef4444;
}

.error:focus {
    border-color: #ef4444;
}

.error::placeholder {
    color: #ef4444;
}

input::placeholder {
    color: #B2B2B2;
}

.eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 28px;
    width: 28px;

    border: none;
    background: transparent;
    cursor: pointer;
    color: #898989;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;

    transition: .2s ease;
}

.eye:hover {
    background: #f3f4f6;
}