html,
body {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", Arial, sans-serif;

    margin: 0;
    padding: 0;
}

html {
    scrollbar-gutter: stable;
}

button:focus,
button:focus-visible {
    outline: none;
}

body.modal-open {
    overflow: hidden;
}