html, body {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", Arial, sans-serif;
}

button:focus {
    outline: none;
}

button:focus-visible {
    outline: none;
}

html, body {
    margin: 0;
    padding: 0;
}

html, body, button {
    letter-spacing: -0.02em;
}

html {
    scrollbar-gutter: stable;
}

body.modal-open {
    overflow: hidden;
}