.wrap {

}

.title {
    font-size: 28px;
    font-weight: 600;
    color: #252525;
}

.itemsWrap {
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.item {
    width: 100%;
    display: flex;
    gap: 24px;
    align-items: center;
}

.iconWrap {
    width: 100px;
    height: 100px;
    border-radius: 999px;
    box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.icon {
    width: 100%;
    transition: .2s ease;
}

.item:hover .icon {
    transform: scale(1.05);
}

.infoWrap {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.techBlogTitle {
    font-size: 20px;
    font-weight: 600;
    color: #252525;
}

.techBlogSub {
    color: #A8A8A8;
    font-size: 14px;
}