.banner {
    /*height: 120px;*/
    background: #ffffff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 44px;
}

.bannerImage {
    border-radius: 12px;
    width: 100%;
    object-fit: cover;
    display: block;
}

.layout {
    flex: 1;
    display: grid;
    grid-template-columns: 180px 1fr;
    gap: 32px;
    align-items: start;
    background: #ffffff;
}

.left {
    position: sticky;
    top: calc(60px + 16px);
    align-self: start;
}

.content {
    flex: 1;
    min-width: 0;
}

@media (max-width: 900px) {
    .layout {
        grid-template-columns: 1fr;
    }

    .left {
        position: static;
    }
}